
<div class="container pt-2">
    <div class="row">
        <div class="col-12">
            <h2>File Upload</h2>
            <div class="progress mb-3">
                <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="row mb-2"><div id="total-loading" class="col"></div><div class="col text-end"><button id="btn-console" class="d-none btn btn-sm btn-secondary">Stop</button></div></div>
            <input id="input-file" class="d-none" type="file" />
            <button id="btn-uploader" class="btn btn-primary">Upload</button>
            <button id="btn-uploader-tus" class="btn btn-secondary">Upload Tus</button>
        </div>
    </div>
</div>
